* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    min-height: 50px;
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;
}


.nav-bar img {
    min-height: 25px;
    margin-left: 20px;
}

.nav-bar h1 {
    margin-left: 10px
}

.nav-bar a {
    margin-left: 25px;
    color: azure;
    text-decoration: none;

}

.nav-bar a:hover {
    color: #1db954;
}


body {
   background: linear-gradient(
  45deg,
  #ff0080,
  #7928ca,
  #2afadf,
   #2afa49,
  #008cff
);

}

.body {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.body-part {
    padding: 15px;
    background-color: black;
    min-height: 550px;
    border-radius: 10px;
    width: 95%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.body-part h2 {
    color: azure;
}

.singer-img {
    height: 500px;        /* desktop height */
    width: auto;
    object-fit: contain;
}


.footer-part {
    margin-top: 20px;
    min-height: 55px;
    background-color: rgba(0, 0, 0, 0.953);
    color: azure;
}

.musicRange {

    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
}

#music-range {
    border-radius: 5px;
    -webkit-appearance: none;
    outline: none;
    background-color: #1db954;
    width: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 4px;
}

#music-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: #fff;
    /* thumb color */
    border-radius: 50%;
    cursor: pointer;
}

.buttons img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.song-part {
    display: flex;
    flex-direction: column;

   

}
.song-image
{
    border-radius:20px;
    display: flex;
    background-color: #fff;
  gap:10px;
    justify-content: space-between;
    margin-top: 10px;
    height:50px;
    width: 100%;

}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-image h3{
    padding-top: 10px;
}

.song-image img {
    padding:10px;
height:50px;
width: 50px;
border-radius: 50%;

}
.time img{
    padding:10px;
    height:40px;
    width: 40px;
    cursor: pointer;
}
@media (max-width: 768px) {

    .nav-bar {
        flex-wrap: wrap;
        padding: 10px;
    }

    .body-part {
         justify-content: space-between;
    
        gap: 10px;
    }

    .left-section {
        width: 55%;
    }

    .song-image {
        width: 100%;
        font-size: 14px;
    }

    .singer-img {
        height: 470px;
        width: auto;
    }
}
